.ui-state-active, .accordion-msg:focus, .accordion-msg:hover{
    background-color: #4680ff;
    color: #fff;
}
.file-button {
    position: relative;
    overflow: hidden;
}

.input-field {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

#sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
}

.row.image-preview {
    display: flex;
    align-items: end;
}

img.preview-img {
    border-radius: 50%;
}